header {
    position: sticky;
    top: 0;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FDF1EB;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.7);
    margin-left: 20px;
}

.cabecalho__texto {
    margin: 15px 10px 0 50px
}

.texto__cabecalho-1 {
    font-size: 14px;
}

.texto__cabecalho-2 {
    font-size: 20px;
}

.texto__cabecalho-3 {
    font-size: 10px;
}

.login {
    display: flex;
    align-self: flex-end;
    padding: 10px;
}

.bem__vindo {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #FDF1EB;
}

.icone__login {
    border-radius: 100%;
    background-color: #FDF1EB;
}

.botao__login {
    border: none;
    background-color: #FDF1EB;
}

.botao__login:hover {
    opacity: .7;
    transition: 1s;
}

.idiomas {
    margin: 30px 0 0 20px;
    font-size: 1rem;
}