.formulario {
    display: flex;
    flex-direction: column;
    border: solid 1px #ECECEC;
    margin: 10px 0 25px 0;
    width: 64em;
    box-sizing: border-box;
}

.discussoes {
    padding: 15px;
    background-color: #FDF1EB;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #ECECEC;
}
    
.caixa__topico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    font-weight: normal;
    font-size: 20px;
}

.img__topico {
    display: flex;
    justify-content: center;
}

.topico__img1 {
    margin: 25px 15px 25px 15px;
}

.topico__img2 {
    margin: 25px 15px 25px 15px;
}

.topico__img3 {
    margin: 25px 15px 25px 15px;
}

.caixa__topico h3 {
    padding: 15px;
    color: #ED7839;
}

.botao__formulario {
    background-color: #ED7839;
    padding: 10px;
    border-radius: 5%;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.botao__formulario:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

.caixa-botao__formulario {
    display: flex;
    justify-content: center;  
}

