.caixa__resumo {
    display: flex;
    align-self: center;
    flex-direction: column;
    border: solid 1px #ECECEC;
    margin: 20px 0 25px 0;
    width: 64em;
    height: 20em;
}
   
.caixa__texto___resumo {
    padding: 15px;
    background-color: #FDF1EB;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #ECECEC;
}

.caixa__texto {
    padding: 15px;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}