.caixa__resumo {
    display: flex;
    flex-direction: column;
    border: solid 1px #ECECEC;
    margin: 20px 0 10px 0;
    width: 64em;
    box-sizing: border-box;
} 
   
.caixa__texto___resumo {
    padding: 15px;
    background-color: #FDF1EB;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #ECECEC;
}

.caixa__texto {
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}