.rodape {
    display: flex;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: solid 1px #ECECEC;
    width: 64em;
    padding: 10px;
}

.rodape.active {
    margin-left: 180px;
}

.rodape__esquerda {
    color: #692764;
    font-weight: bold;
}

.rodape__galoa {
    font-size: 3rem;
}

.botao-saiba__mais {
    padding: 8px;
    color: white;
    font-size: 1.2em;
    margin-top: .3em;
    background-color: #692764;
    border-radius: 5%;
}

.botao-saiba__mais:hover {
   background-color: white;
   color: black;
   transition: 1s;
   cursor: pointer;
}

.rodape__texto {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1em;
    margin-top: 16px;
    font-size: 20px;
}