.video {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.painel__video {
    height: 100%;
    width: 250px
}

.texto__video {
    color: #ED7839;
    margin-bottom: 20px;
}

h5 {
    display: flex;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botao__download {
    background-color: #ED7839;
    padding: 10px;
    border-radius: 5%;
    color: white;
    width: 80px;
    margin-bottom: 10px;
    cursor: pointer;
}

.botao__download:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

.detalhes {
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 5%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

.painel {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    border: solid 1px black;
    overflow: hidden;
    overflow-y: scroll;
    height: 335px;
    flex-direction: column;
}