@media screen and (min-width: 768px) {

    body {
        /* background: pink; */
    }


    /* Cabeçalho */

    .cabecalho {
        flex-direction: row;
    }

    .login {
        margin-left: 0;
    }
    
  
    .idiomas {
        margin-left: 0;
    }

    /* Rodapé */

    .rodape {
        flex-direction: row;
    }

    .rodape__texto {
        margin-left: 1em;
    }


}