@media screen and (min-width: 378px) {
    body {
        /* background: blue; */
    }

    .rodape {
        flex-direction: column;
    }

    .rodape__esquerda {
        text-align: center;
    }

    .rodape__texto {
        margin-left: 0px;
    }

}
