@media screen and (min-width: 378px) {
    body {
        /* background: blue; */
    }

                /* cabeçalho */

    .cabecalho {
        flex-direction: column;
    }

    .login {
        margin-left: 250px;
    }
    
  
    .idiomas {
        margin-left: 250px;
    }

        /* rodapé */


    .rodape {
        flex-direction: column;
    }

    .rodape__esquerda {
        text-align: center;
    }

    .rodape__texto {
        margin-left: 0px;
    }

}
